<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.personapi">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_logo"
            android:label="My CookBook"
            android:roundIcon="@mipmap/ic_logo_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ShoppingListActivity"
                android:label="Shopping Cart">
        </activity>
        <activity
                android:name=".FridgeActivity"
                android:configChanges="orientation|screenSize"
                android:label="My Fridge">
        </activity>
        <activity
                android:name=".AddIngredientActivity"
                android:configChanges="orientation|screenSize"
                android:label="Add Ingredient">
        </activity>
        <activity
                android:name=".IngredientActivity"
                android:label="Ingredients List"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation|screenSize"
                android:label="Recipe List">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:label="MyCookBook Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".RegisterActivity"
                android:label="MyCookBook Register">
        </activity>
        <activity android:name=".CustomerMessages">
        </activity>
        <activity android:name=".ChatView">
        </activity>
    </application>

</manifest>